html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.btn-create {
    width: 150px
}
.btn-back {
    width: 150px
}
.div-card{
    position:relative;
}
.div-btnDetail{
    position:absolute;
    bottom:1px;
}
.card-image{
    max-height:400px;
    max-width:278px;
}
.home-card-body{
    height:210px;
}