html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
 
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
} 
.btn-create {
    width: 150px
}
.btn-back {
    width: 150px
}
.div-card{
    position:relative;
}
.div-btnDetail{
    position:absolute;
    bottom:1px;
}
.card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}
.card img{
    aspect-ratio:1/1.25;
}
.h5 {
    font-weight: 700;
}
.price{
    font-size: 16px;
    font-weight:900;
}
.currency{
    font-size:12px;
}
.list-price {
    font-size: 12px;
}
.discount {
    font-size: 12px;
    color: green;
    font-weight: 900;
}